*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    overflow-x: hidden;
}
.nav{
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid lightgray;
    background-color: white;
    z-index: 99;
    position: fixed;
    top: 0;
}
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.flex-1{
    display: flex;
    gap: 2rem;
    border: 1px solid lightgray;
    opacity: 99;
    z-index: 100;
    /* border-top-right-radius: 20px;
    border-bottom-right-radius: 20px; */
    font-weight: 500;
    line-height: 37px;
}
.kuda{
    width: 90px;
    padding: 17px;
}
.icon{
    margin-left: 4px;
}
.under{
    display: flex;
    gap: 4rem;
    
}
.underline{
    text-decoration: none;
}
.prof-1{
    color: #40196D;   
}
.prof-1:hover {
    .class-1{
        display: block;
    }
}
.airtime{
    text-decoration: none;
    color: black;
}
.airtime:hover{
    transition: all 2s;
    transform: translateY(2px);
}
.time:hover{
    transition: all 0.6s;
    transform: translateY(-1px);
    transform: translateX(1px);
    font-size: 15px;
}
.class-1{
    position: absolute;
    top: 56px;
    display: none;
}
.div-1{
    background-color: white;
    padding: 20px;
    opacity: 99;
    z-index: 1;
}
.div-2{
    background-color: rgb(245, 245, 245);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 17px;
    opacity: 99;
    z-index: 1;
}
.payments{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    opacity: 100%;
    text-transform: uppercase;
}
.blog{
    border: 1px solid lightgray;
    background-color: white;
    padding: 40px 20px;
    padding-left: 30px;
    width: 140px;
}
.press{
    text-decoration: none !important;
    color: black !important;
    line-height: 40px;
}
.prof-2{
    position: relative;
}
.prof-2:hover{
    .class-2{
        transition: all 6s;
        display: block;
    }
}
.class-2{
    display: none;
    position: absolute;
    top: 30px;
    transition: all 6s;
}
.blog-1{
    border: 1px solid lightgray;
    padding: 30px;
    background-color: white;
}
.sign{
    text-decoration: none;
    color: #40196D;
}
.button-1{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #40196D;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: -90px;
}
.button-1:hover{
    cursor: pointer;
    transition: all 1s;
    transform: translateY(-3px);
}
.borden{
    border: 1px solid green;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    align-content: center !important;
    background-color: lightgreen;
    padding-left: 5px;
}
.money{
    margin-top: 220px;
    display: flex;
    gap: 16rem;
}
.money-1{
    margin-left: 150px;
    color: #40196D;
    font-size: 40px;
    max-width: 350px;
    font-weight: 800;
}
.money-2{
    margin-left: 150px;
    margin-top: 20px;
    max-width: 300px;
    font-size: 18px;
    line-height: 1.6em;
}
.big{
    border: 1px solid lightgray;
    height: 400px;
    width: 400px;
    border-radius: 100%;
    position: relative;
}
.small{
    border:1px solid #40196D;
    border-style: none;
    padding: 2px;
    align-content: center;
    background-color: rgb(223, 227, 255) !important;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    margin-top: -215px;
    margin-left: 190px;
    
    animation: small 15s linear  infinite ;
}
@keyframes small {
    0%{
        transform: rotate(-360deg) translate(200px);
    }
    100%{
        transform: rotate(360deg) translate(200px);
    }
}
.small-1{
    border:1px solid #40196D;
    border-style: none;
    padding: 2px;
    align-content: center;
    background-color: rgb(223, 227, 255) !important;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    margin-top: -215px;
    margin-left: 190px;
    /* animation: smile 15s linear 0s infinite ; */
}
@keyframes smile {
    0%{
        transform: rotate(360deg) translate(200px);
    }
    100%{
        transform: rotate(-360deg) translate(200px);
    }
}
.small-2{
    border:1px solid #40196D;
    border-style: none;
    padding: 2px;
    align-content: center;
    background-color: rgb(223, 227, 255) !important;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    margin-top: -215px;
    margin-left: 190px;
    animation: smoke 9s linear infinite ;
}
@keyframes smoke {
    0%{
        transform: rotate(180deg) translateX(200px);
    }
    100%{
        transform: rotate(-180deg) translateX(200px);
    }
}
.big-2{
    border: 1px solid lightgray;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    position: relative;
    margin-top: -350px;
    margin-left: 50px;
}
.small-3{
    border:1px solid #40196D;
    border-style: none;
    padding: 2px;
    align-content: center;
    background-color: rgb(223, 227, 255) !important;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    margin-top: -165px;
    margin-left: 190px;
    /* animation: snail 8s linear 0s infinite; */
}
@keyframes snail {
    0%{
        transform: rotate(180deg) translate(150px);
    }
    100%{
        transform: rotate(-180deg) translate(150px);
    }
}
.small-4{
    border:1px solid #40196D;
    border-style: none;
    padding: 2px;
    align-content: center;
    background-color: rgb(223, 227, 255) !important;
    height: 25px;
    width: 25px;
    border-radius: 100%;
    position: absolute;
    margin-top: -165px;
    margin-left: 190px;
    /* animation: snake 8s linear infinite; */
}
@keyframes snake {
    0%{
        transform: rotate(0deg) translate(150px);
    }
    100%{
        transform: rotate(-360deg) translate(150px);
    }
}
.big-3{
    border: 1px solid lightgray;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    position: relative;
    margin-top: -250px;
    margin-left: 100px;
}
.div-30{
    position: relative;
    /* font-size: 17px; */
}
.kuda-img-1{
    margin-top: -65px;
    margin-left: -20px;
    position: relative;
}
.kuda-img-2{
    margin-top: 70px;
    margin-left: -30px;
    position: absolute;
}
.button{
    margin-left: 150px;
    margin-top: 30px;
    display: flex;
    gap: 2rem;
}
.img{
    border-radius: 5px;
    border-color: black;
}
.button-2{
    background-color: black;
    border-radius: 5px;
    border-style: none;
}
.button-2:hover{
    cursor: pointer;
    transition: all 1s;
    transform: translateY(-3px);
}
.fully{
    margin-left: 150px;
    margin-top: 15px;
    font-size: 15px;
    opacity: 0.7;
}
.parent{
    margin-top: 150px;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.parent-1{
    margin-top: 50px;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.child{
    border: 1px solid lightgray;
    height: 80px;
    width: 250px;
    padding: 22px;
    border-style: none;
    border-color: lightgray;
    background-color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .06);
}
.icon{
    margin-left: 5.5px;
    align-items: center !important;
    color: #40196D;
}
.round{
    border:1px solid #40196D;
    border-style: none;
    padding: 2px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    align-content: center;
    background-color: rgb(223, 227, 255) !important;
}
.order{
    margin-top: 10px;
    color: #40196D;
    font-size: 15px;
    font-weight: 600;
}
.section{
    margin-top: 200px;
    margin-left: 150px;
    display: flex;
    gap: 18rem;
}
.phone{
    color: #40196D;
    font-weight: 800;
    font-size: 30px;
    line-height: 1.4em;
}
.design{
    margin-top: 10px;
    font-size: 14.5px;
    max-width: 300px;
    line-height: 1.4em;
    margin-bottom: 11px;
    opacity: 0.8;
}
.width{
    border: 1px solid lightgray;
    width: 300px;
    height: 300px;
    position: static;
    border-radius: 50%;
    overflow: hidden;
    box-sizing:content-box;
    background-color: rgb(223, 227, 255);
    opacity: 1 !important;
    z-index: 0;
}
.width-1{
    margin-top: 77px;
    margin-left: -25px ;
    position: absolute;
    transition: all 2s;
    overflow: hidden;
    /* animation: girl 2s linear 0s 1 ; */
}
 @keyframes girl {
    0%{
        display: none;
        overflow: hidden;
        transform-origin: 0px 0px;
        transform: translateY(250px)
    }
    
    30%{
        display: block;
        transform: translateY(0px);
    }
} 
.width-2{
    margin-left: -60px;
    margin-top: 50px;
    opacity: 99 !important;
    /* z-index: 100 !important; */
    position: absolute;
}
.width-3{
    position: absolute;
    margin-top: 200px;
    margin-left: 200px;
}
.width-4{
    position: absolute;
    margin-top: 222px;
    margin-left: 212px;
}
.section-1{
    margin-top: 200px;
    margin-left: 150px;
    display: flex;
    gap: 15rem;
}
.circle{
    margin-left: 30px;
}
.line{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.display{
    display: flex;
    gap: 0.6rem;
    margin-top: -250px;
}
.line-1{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 30px;
}
.lime{
    margin-top: 50px;
}
.display-1{
    color: #40196D;
    font-size: 33px;
    font-weight: 800;
}
.display-2{
    margin-top: 15px;
    font-size: 15px;
    max-width: 300px;
    line-height: 1.4em;
    opacity: 0.8;
    margin-bottom: 15px;
}
.lime-1{
    margin-left: 150px;
    margin-top: 200px;
}
.kuda-1{
    margin-left: -255px;
    margin-top: 90px;
    position: absolute;
}
.kuda-card{
    position: absolute;
    margin-left: -310px;
    margin-top: 35px;
}
.kuda-sign{
    position: absolute;
    margin-top: 170px;
    margin-left: -114px;
}
.kuda-hello{
    margin-top: -20px;
    margin-left: -50px;
}
.circle-3{
    border: 1px solid rgb(219, 248, 255);
    height: 300px;
    width: 300px;
    background-color: rgb(219, 248, 255);
    border-radius: 50%;
}
.display-3{
    color: #40196D;
    justify-items: center;
    margin-top: 100px;
}
.display-4{
    font-weight: 800;
    font-size: 32px;
}
.display-5{
    font-weight: 800;
    font-size: 34px;
    margin-bottom: -70px;
}
.section-2{
    margin-top: 165px;
    padding: 70px;
    background-color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .06);
}
.div{
    display: flex;
    gap: 6rem;
}
.data{
    filter: grayscale(100%);
}
.data:hover{
    filter: none;
    cursor: pointer;
}
.section-3{
    /* background-color:  !important; */
    border: 1px solid lightgray;
    border-style: hidden;
    width: 100;
    /* height: 400px; */
}
.div-3{
    margin-top: 80px;
    display: flex;
    gap: 4rem;
    justify-self: center;
}
.data-1{
    filter: none;
}
.data-1:hover{
    filter: grayscale(100%);  
    cursor: pointer; 
}
.div-4{
    justify-items: center;
    margin-top: 60px;
}
.child-1{
    border: 1px solid lightgray;
    height: 220px;
    width: 250px;
    padding: 29px;
    border-style: none;
    border-color: lightgray;
    background-color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .06);
}
.order-1{
    margin-top: 20px;
    color: #40196D;
    font-size: 24px;
    font-weight: 800;
}
.grow{
    margin-top: 12px;
    font-size: 16.5px;
    line-height: 1.6em;
    opacity: 0.8;
    margin-bottom: 9px;
}
.icon-1{
    background-color: rgb(223, 227, 255) !important;
    color: #40196D;
    border-color: #40196D;
}
.image{
    border-radius: 50%;
    margin-top: 19px;
}
.parent-2{
    margin-top: 100px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    gap: 1rem;
    animation: scroll 20s linear 0s infinite;
}
@keyframes scroll{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-800px);
    }
}
.child-2{
    border: 1px solid lightgray;
    height: 150px;
    min-width: 300px;
    padding: 29px;
    border-style: none;
    border-color: lightgray;
    background-color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, .06);
}
.design-1{
    font-size: 15px;
    line-height: 24px;
    opacity: 0.8;
}
.design-2{
    font-size: 14px;
    line-height: 20px;
    opacity: 0.8;
}
.baba{
    display: flex;
    gap: 1rem;
}
.jide{
    margin-top: 35px;
    font-style: oblique;
    font-size: 14px;
}
.jide-1{
    margin-top: 35px !important;
    font-size: 14px;
    font-style: oblique;
}
.head-5{
    font-weight: 700;
    color: #40196D !important;
}
.div-10{
    border: 1px solid lightgrey;
    margin-top: 50px;
    height: 600px;
    width: 900px;
    background-color: var(--whiteColor);
    border-radius: 5px;
    box-shadow: 10px 1px 25px rgba(0, 0, 0, .06);
}
.div-11{
    display: flex;
    gap: 9rem;
    margin-top: 37px;
    margin-bottom: 20px;
    margin-left: 320px;
}
.hr{
    background-color: lightgray;
    height: 0.1px;
    border-color: lightgray;
    color: lightgray;
    opacity: 0.3;
}
.div-12{
    display: flex;
    color: black;
    gap: 7rem;
    margin-left: 100px;
    margin-top: 19px;
    margin-bottom: 19px;
}
.div-13{
    display: flex;
    color: black;
    gap: 6.4rem;
    margin-top: 19px;
    margin-bottom: 19px;
    margin-left: 100px;
}
.div-14{
    display: flex;
    color: black;
    margin-bottom: 19px;
    margin-top: 19px;
    margin-left: 100px;
    gap: 1.6rem;
}
.div-15{
    display: flex;
    color: black;
    margin-bottom: 19px;
    margin-top: 19px;
    margin-left: 100px;
    gap: 10.7rem;
}
.div-16{
    display: flex;
    color: black;
    margin-bottom: 19px;
    margin-top: 19px;
    margin-left: 100px;
    gap: 5.55rem;
}
.div-17{
    display: flex;
    color: black;
    margin-bottom: 19px;
    margin-top: 19px;
    margin-left: 100px;
    gap: 4.7rem;
}
.div-18{
    display: flex;
    color: black;
    margin-bottom: 19px;
    margin-top: 19px;
    margin-left: 100px;
    gap: 4.4rem;
}
.icon-2{
    background-color: rgb(223, 227, 255) !important;
    color: #40196D;
    border-radius: 50%;
}
.icon-3{
    background-color: #40196D;
    color: lightgray;
    border-radius: 50%;
}
.icon-4{
    font-size: 20px;
    color: black;
    opacity: 0.8;
    border-radius: 50%;
    background-color: orange;
}
.tag{
    margin-left: 140px;
}
.tag-1{
    margin-left: 82px;
}
.tag-2{
    margin-left: -66px;
}
.tag-3{
    margin-left: 150px;
}
.tag-4{
    margin-left: 55px;
}
.tag-5{
    margin-left: 174px;
}
.tag-6{
    margin-left: 128px;
}
.head{
    color: #40196D;
}
.footer{
    border: 1px solid lightgray;
    margin-top: 200px;
}
.footer-1{
    margin-top: 40px;
    margin-left: 120px;
    display: flex;
    gap: 4rem;
}
.footer-2{
    line-height: 2.9em;
    font-size: 14px;
    opacity: 0.8;
}
.button-3{
    background-color: black;
    border-radius: 5px;
    border-style: none;
}
.footer-3{
    padding: 80px;
    display: flex;
    gap: 1rem;
}
.head-1{
    color: #40196D;
    justify-self: center;
    opacity: 0.8;
}
.contact{
    display: flex;
    gap: 1rem;
    margin-top: 14px;
}
.head-2{
    color: #40196D;
    opacity: 0.8;
    margin-bottom: 14px;
}
.round-1{
    border: 1px solid #40196D;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: rgb(223, 227, 255) !important;
}
.icon-5{
    padding-left: 6px;
    padding-top: 6px;
    color: #40196D;
}
.icon-6{
    padding-left: 8px;
    padding-top: 6px;
    color: #40196D;
}
.icon-7{
    padding-left: 10px;
    padding-top: 6px;
    color: #40196D;
}
.div-5{
    margin-left: 80px;
    margin-top: 60px;
    display: flex;
    gap: 3rem;
}
.avenue{
    font-size: 14px;
    opacity: 0.8;
    line-height: 19px;
}
.div-20{
    padding: 60px;
    margin-left: 15px;
    opacity: 0.7;
    font-size: 11.5px;
}
.water{
    margin-top: 30px;
}
.section-5{
    margin-top: 100px;
    border:1px solid #40196D;
    border-radius: 9px;
    width: 850px;
    height: 300px;
    padding-top: 20px;
    padding-left: 55px;
    justify-self: center;
    border-style: none;
    background-color: rgb(223, 227, 255) !important;
    box-shadow:2px 2px 2px  lightgray;
}
.money-3{
    color: #40196D;
    margin-top: 40px;
    font-size: 32px;
    font-weight: 800;
}
.money-4{
    margin-top: 12px;
    opacity: 0.8;
}
.money-5{
    margin-left: 95px;
    margin-top: 30px;
}
.gain{
    display: flex;
    gap: 17rem;
}
.fill{
    background-color: rgb(255, 245, 219);
    border: 1px solid rgb(255, 245, 219);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-top: 180px;
}
.pillar{
    display: none;
}

@media screen and (max-width : 500px) {
    .nav{
        /* background-color: #40196D; */
        padding: 2px;
        font-size: 12px;
    }
    .money{
        display: flex;
        text-align: center;
        max-width: 400px;
        margin-left: -150px;
        flex-direction: column;
        justify-content: center;
    }
    .main{
        display: grid;
        justify-content: center;
        color: red ;
        
    }
    .div-30{
        /* float: left; */
        align-self: center;
        margin-top: -150px;
        margin-left: 150px;
        /* max-width: 100px; */
        /* min-width: 10px; */
        /* width: 100px; */
        /* font-display: 10px; */
        
    }
    .parent{
        display: grid;
        justify-content: center;
    }
    .parent-1{
        display: grid;
        justify-content: center;
    }
    .section{
        min-width: 400px;
        align-self: center;
        align-items: center;
        align-content: center;
        /* text-align: center; */
        margin-left: 0px;
        margin-top: 80px;
        text-align: center;
        display: grid;
        justify-content: center;
    }
    .phone{
        min-width: 300px;
        align-content: center;
        align-self: center;
        /* align-items: center; */
        /* text-align: center; */
    }
    .width{
        margin-top: -190px;
    }
    .section-1{
        display: grid;
        justify-content: center;
    }
    .call{
        margin-left: -100px;
    }
    .lime{
        min-width: 200px;
        margin-left: -150px;
        text-align: center;
        justify-content: center;
        align-self: center;
        align-content: center; 
        justify-self: center;
    }
    .display-1{
        min-width: 100px;
        max-width: 250px;
        margin-top: -100px;
    }
    .display-2{
        max-width: 250px;
    }
    .gain{
        display: grid;
    }
    .lime-1{
        align-self: center;
        align-items: center;
        align-content: center;
    }
    .fill{
       align-self: center;
       align-content: center; 
       justify-self: center;
       margin-top: -190px;
    }
    .section-1{
        display: grid;
        align-items: center;
        justify-content: center;
    }
    .tree{
        align-self: center;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-self: center;
        justify-content: center;
        margin-bottom: -120px;
        margin-left: -120px;
    }
    .kuda-hello{
        align-self: center;
        align-items: center;
        align-content: center;
        justify-items: center;
        justify-self: center;
        justify-content: center;
        margin-left: -100px;
        margin-top: -190px;
   }
    .classic{
        margin-top: -70px;
        margin-left: -100px;
   }
    .viper{
        text-align: center;
        margin-top: -70px;
        margin-left: -80px;
    }
    .display-4{
        font-size: 17px;
    }
    .big{
        border: 1px solid lightgray;
        height: 350px;
        width: 350px;
        border-radius: 100%;
        position: relative;   
    }
    .small{
        border:1px solid #40196D;
        border-style: none;
        padding: 2px;
        align-content: center;
        background-color: rgb(223, 227, 255) !important;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        position: absolute;
        margin-top: -190px;
        margin-left: 160px;
        
        animation: small 15s linear  infinite ;
    }
    @keyframes small {
        0%{
            transform: rotate(-360deg) translate(175px);
        }
        100%{
            transform: rotate(360deg) translate(175px);
        }
    }
    .small-1{
        border:1px solid #40196D;
        border-style: none;
        padding: 2px;
        align-content: center;
        background-color: rgb(223, 227, 255) !important;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        position: absolute;
        margin-top: -190px;
        margin-left: 160px;
        animation: smile 15s linear 0s infinite ;
    }
    @keyframes smile {
        0%{
            transform: rotate(360deg) translate(175px);
        }
        100%{
            transform: rotate(-360deg) translate(175px);
        }
    }
    .small-2{
        border:1px solid #40196D;
        border-style: none;
        padding: 2px;
        align-content: center;
        background-color: rgb(223, 227, 255) !important;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        position: absolute;
        margin-top: -190px;
        margin-left: 160px;
        animation: smoke 9s linear infinite ;
    }
    @keyframes smoke {
        0%{
            transform: rotate(180deg) translateX(175px);
        }
        100%{
            transform: rotate(-180deg) translateX(175px);
        }
    }
    .big-2{
        border: 1px solid lightgray;
        height: 250px;
        width: 250px;
        border-radius: 100%;
        position: relative;
        margin-top: -300px;
    }
    .small-3{
        border:1px solid #40196D;
        border-style: none;
        padding: 2px;
        align-content: center;
        background-color: rgb(223, 227, 255) !important;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        position: absolute;
        margin-top: -135px;
        margin-left: 160px;
        animation: snail 8s linear 0s infinite;
    }
    @keyframes snail {
        0%{
            transform: rotate(180deg) translate(125px);
        }
        100%{
            transform: rotate(-180deg) translate(125px);
        }
    }
    .small-4{
        border:1px solid #40196D;
        border-style: none;
        padding: 2px;
        align-content: center;
        background-color: rgb(223, 227, 255) !important;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        position: absolute;
        margin-top: -135px;
        margin-left: 160px;
        animation: snake 8s linear infinite;
    }
    @keyframes snake {
        0%{
            transform: rotate(0deg) translate(125px);
        }
        100%{
            transform: rotate(-360deg) translate(125px);
        }
    }
    .big-3{
        border: 1px solid lightgray;
        height: 150px;
        width: 150px;
        border-radius: 100%;
        position: relative;
        margin-top: -200px;
    }
    .kuda-img-1{
        width: 200px;
        margin-left: -20px;
        margin-top: -50px;
    }
    .kuda-img-2{
        width: 100px;
    }
    .mode{
        margin-left: 100px;
    }
    .mode-1{
        text-align: center;
    }
    .mode-2{
        text-align: center;
    }
    .mode-3{
        margin-left: 50px;
    }
    .div{
        display: grid;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(3, 50px);
    }
    .div-3{
        display: grid;
        grid-template-columns: repeat(2, 100px);
        grid-template-rows: repeat(3, 100px);
    }
    .data-6{
        margin-left: 100px;
    }
    .div-10{
        display: grid;
        flex-shrink:2500px;
        
    }
    .div-11{
        flex-shrink: 4;
        margin-left: 220px;
        padding-left: 0px;
        gap: 2rem;
        /* max-width: 33.3%; */
        /* width: 400px; */
    }
    .emp{
        display: grid;
        max-width: 33.3%;
        width: 100px;
        margin-left: 120px;
        font-size: 10px;
        
    }
    .div-13{
        display: flex;
        gap: 5.6rem;
       
    }
    .div-14{
        display: flex;
        gap: 2.56rem;
    }
    .div-15{
        display: flex;
        gap: 8.3rem;
    }
    .div-16{
        display: flex;
        gap: 5.2rem;
    }
    .div-18{
        display: flex;
    }
    .comb{
        display: flex;
        gap: 6rem;
    }
    .tag{
        margin-left: 65px;
    }
    .tag-1{
        margin-left: 38px;
    }
    .tag-2{
        margin-left: -30px;
    }
    .tag-3{
        margin-left: 80px;
    }
    .tag-4{
        margin-left: 21px;
    }
    .tag-5{
        margin-left: 90px;
    }
    .flavor{
        font-size: 15px;
    }
    .head-5{
        margin-left: 0% !important;
        flex-shrink:  auto !important;
    }
    .img-5{
        flex-shrink: 4;
    }
    .section-5{
        margin-top: 100px;
        border:1px solid #40196D;
        border-radius: 9px;
        width: 400px;
        height: 300px;
        padding-top: 20px;
        padding-left: 55px;
        padding-right: 50px;
        /* justify-self: center; */
        border-style: none;
        background-color: rgb(223, 227, 255) !important;
        box-shadow:2px 2px 2px  lightgray;
    }
    .money-3{
        font-size: 22px;
        max-width: 500px;
        align-self: center;
        text-align: center;
    }
    .money-4{
        text-align: center;
        opacity: 0.6;
        font-size: 13px;
    }
    .money-5{
        display: none;
    }
    .pillar{
        display: block !important;
        margin-top: 50px;
        margin-left: 80px;
    }
    .pillar-1{
        margin-right: 20px;
    }
    .footer{
        display: grid;
    }
    .footer-1{
        display: grid;
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(1, 350px );
    }
    .div-5{
        display: grid;
    }
    .comfy{
        display: grid;
        
    }
}